*{
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    
    height: auto;
}

.nav-bar{
    display: flex;
    align-items: flex-end;
}

#users{
    margin-left: 20px;
}

.form_data{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    margin-left: 55%;
}

#data-form{
    display: block;
}
#buttons{
    display: flex;
    justify-content: space-between;
}
.image{
    background-image: url("Slide1.JPG");
    background-size: cover;
}