<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>
     <nav class="navbar" style="background-color: #e3f2fd;">
        <h4>&nbsp;welcome</h4>
        
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/userdetails/update/{{id}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userlogin/{{user_id}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user_home/Campagin/{{id}}">Campagin</a>
            </li>
            <li>
              <a class="nav-link" href="/">logout</a>
            </li>
          </ul>
          </div>
        </div>
      </nav>
      <div class="home_camp">
        <div class="sidebar2">
          <h4>Search option:-<hr></h4><br>
          <form class="row g-3" method="POST" action="/user_home/Campagin/{{id}}">
            <div class="col-12">
              <label for="inputAddress" class="form-label">Name</label>
              <input type="text" class="form-control" id="inputAddress" name="name">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Budget</label>
              <input type="text" class="form-control" id="inputAddress" name="budget">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-outline-success">search</button>
          </div>
          </form>
        </div>  
        <div>
          <h2><b style="margin-left: 20px;">Search for Campaigns:- <hr style="margin-left: 20px;"></h2></b>
          <table class="table table-success table-striped" id="tab2">
            <thead>
                {% if l is not none %}    
              <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Start-date</th>
                <th>End-date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              
                {% for i in l %}
              <tr>
                <td class="table-active">{{i}}</td>
                <td class="table-active">{{l[i][0]}}</td>  
                <td class="table-active">{{l[i][1]}}</td>
                <td class="table-active">{{l[i][2]}}</td>
                <td  class="table-active">
                <a type="button" class="btn btn-primary" href="/sponser/adreq_sent/{{ l[i][3] }}">Request</a>
                </td>
              </tr>
                {% endfor %} 
              {% else %}
              <h4 style="margin-left: 25px;">No campagins found</h4><br>
              <h5 style="margin-left: 25px; color: red;">Please check the name and try again. </h5>
              {% endif %}   
            </tbody>
          </table>
        </div>
      </div>  
    </body>
</html>