<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    here you can update the form details<br>
    
    name: {{data.name}}<br>
    goals: {{data.goals}}<br>
    budget: {{data.budget}}<br>
    startdate: {{data.start_date}}<br>
    enddate: {{data.end_date}}<br>
    description: {{data.description}}<br>

    <a href="/edit_campdetails/{{data.campaigns_id}}"><button >Edit</button></a>
</body>
</html>