<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/register" id = "data-form">
        <div>
            <label>username: </label>
            <input type="placeholder" name="username"  />
        </div>
        <div>
            <label>password: </label>
            <input type="placeholder" name="pass" />
        </div>
        <div>
           <label>Role: </label>
           <select name="role">
            <option value="Sponsers">Sponsers </option>
            <option value="user">User/influencer</option>
           </select>
        </div>
        <input type="submit" value="Next" />
    </form>
</body>
</html>