<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body style="background-color: antiquewhite;">
    <h2>&nbsp;<b>  welcome sponsers</h2><hr></b>
    <br>
    <div class="det3" > 
        <form class="g-3" method="POST" action="/sponserdetails" id = "data-form">
            <div >
                <input type="hidden" name="user1" value="{{ user1 }}" />
            </div>
            <div >
                <input type="hidden" name="password" value="{{ password }}" />
            </div>
            <div >
                <input type="hidden" name="role" value="{{ role }}" />
            </div>
            <div class="col-12">
                <label class="form-label" for="name">Name of the company: </label>
                <input type="placeholder" name="company_name"  class="form-control" />
            </div><br>
            <div class="col-12">
                <label class="form-label"> industry: </label>
                <select  name="industry" class="form-control" style="width: 60%;">
                 <option value="Beauty & Fashion">Beauty & Fashion</option>
                 <option value="Health">Health</option>
                 <option value="Content Marketing">Infrastructure</option>
                 <option value="NGO">Non-Government org. (NGO's)</option>
                 <option value="Food & Agriculture">Food & Agriculture</option>
                 <option value="Technology and gadets">Technology and gadets</option>
                 <option value="Individual">Individual</option>
                 <option value="Education">Education</option>
                 <option value="Internet">Internet</option>
                 <option value="Bank & insurance">Bank & insurance</option>
                 <option value="Others">Others</option>
                </select><br>
             </div><br>
            <div class="col-12">
            <label class="form-label" for="inputcity"> budget: </label>
            <input type="'placeholder" name="budget" class="form-control">
            </div><br>
            <input  class="btn btn-outline-success" type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>