<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/userdetails" id = "data-form" enctype="multipart/form-data">
        <div >
            <input type="hidden" name="username" value="{{ user1 }}" />
        </div>
        <div >
            <input type="hidden" name="pass" value="{{ password }}" />
        </div>
        <div >
            <input type="hidden" name="role" value="{{ role }}" />
        </div>
        <div>
            <label>Name: </label>
            <input type="placeholder" name="vname"  />
        </div>
        <div>
            <label>Category: </label>
            <input type="placeholder" name="cate" />
        </div>
        <div>
           <label>Niche: </label>
           <input type="placeholder" name="niche">
        </div>
        <div>
            <label>followers: </label>
            <input type="placeholder" name="follows">
         </div>
         <div class="col-md-6">
            <label for="photo" class="form-label">Photo:</label>
            <input type="file" class="form-control" id="photo" name="photo" required>
        </div>
        <input type="submit" value="submit"/>
    </form >    
</body>
</html>